maudio.depend
maudio.layout
maudio.kdev4
.directory
obj
bin
*.flac
*.wav
meson-build
cmake-build
cmake-codeblocks
cmake-kdevelop
cmake-qtcreator
.kdev4
doxygen
sources.txt
res/lib/*.a
res/lib/*.so
res/plugins/*.so
*.swp
*.maup
*.maup.previous
CMakeLists.txt.user
